.order-price-day {
  background-color: #3c3f40;
  color: #fff;
  padding-right: 50px;
  padding-left: 50px;
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 15px
  }
}

.order {
  width: 250px;
}

.container div {
  margin-top: 0px;
  margin-bottom: 25px;
}
