.how-it-work {
  padding-right: 50px;
  padding-left: 50px;
  background-color: $blue;
  color: white;
}

.container div {
  margin-top: 25px;
  margin-bottom: 25px;
}

.container p {
  font-size: 20px;
}

.image {
  margin-bottom: 10px;
}
